<html>
<head>
  <link rel="stylesheet" type="text/css" href="dashboard.component.css">
</head>
<body>
<div class="left">
    <div class="user-header">
      <p class="welcome-text">Welcome, <span id="username">username</span>!</p>
      <p class="date-text"><span id="date">21.10.2023 - </span></p>
      <p class="days-left-text"><span id="days-left">14 days left</span></p>
    </div>
  <div class="user-buttons">
    <button class="dashboard-button"  id="add-spent">Add Spent</button>
  </div>
  <div class="buttons">
    <button class="dashboard-button" >1</button>
    <button class="dashboard-button" >2</button>
    <button class="dashboard-button" >3</button>
    <button class="dashboard-button" >4</button>
  </div>
</div>
<div class="right" >
<div class="circles">
  <div class="white-box" id="white-box"></div>
  <div class="left-box" id="left-box"></div>
  <div class="right-box" id="right-box"></div>
  <div class="mickey-head" (mouseenter)="mouseEnter('0')" (mouseleave)="resetBtn('0')" id="0"></div>
  <div class="left-ear" (mouseenter)="mouseEnter2('1')" (mouseleave)="resetBtn2('1')" id="1"></div>
  <div class="right-ear" (mouseenter)="mouseEnter2('2')" (mouseleave)="resetBtn2('2')" id="2"></div>
</div>
  <div class="account-info">
      <label for="account-balance">Money left on account:</label>
      <p id="account-balance">$0.00</p>
  </div>
</div>
</body>
</html>
