<html>
<head>
  <link rel="stylesheet" type="text/css" href="dashboard.component.css">
</head>
<body>
<div class="devider">
  <div class="left-div">
    <div class="welcome-div">
      <p class="welcome-text">Welcome, <span id="username">{{ username }}</span>!</p>
      <p class="date-text"><span id="xd">Next settlement date:</span></p>
      <p class="date-text"><span id="settlementDate">{{ settlementDate }}</span> - <span id="daysLeft">{{ daysLeft }}</span> days left</p>
    </div>
    <div class="add-spent-div">
      <button class="dashboard-button add-spent-button" id="add-spent" (click)="addExpense()">
        <img src="../assets/resources/wallet.png" alt="Wallet Icon" class="wallet-image">
        Add<br />expense
      </button>
    </div>
    <div class="user-buttons-panel">
      <button class="dashboard-button" (click)="addDeposit()" >Add a deposit</button>
      <button class="dashboard-button" (click)="addRecurringExpense()" >Repeating expenses</button>
      <button class="dashboard-button" (click)="manaWallet()" >Manage you wallet</button>
      <button class="dashboard-button" (click)="addScheduledExpense()" >Planned expenses</button>
    </div>
  </div>
  <div class="spinner-div">
    <div class="spinners-override">
      <div class="spinner-second">
        <static-spinner-background></static-spinner-background>
      </div>
      <div class="spinner-first">
        <app-progress-spinner-configurable-example></app-progress-spinner-configurable-example>
      </div>

    </div>
  </div>
</div>
</body>
</html>
