<html>
<head>
  <link rel="stylesheet" type="text/css" href="dashboard.component.css">
</head>
<body>
<div class="devider">
  <div class="left-div">
    <span>left div</span>
    <div>
      <button (click)="addExpense()" >NO</button>
    </div>
  </div>
  <div class="spinner-div">
    <div class="spinner-first">
      <app-progress-spinner-configurable-example></app-progress-spinner-configurable-example>
    </div>
    <div>
      <button (click)="test()" >NO</button>
    </div>

  </div>
</div>
</body>
</html>
