<div class="settings-view">
    <div class="titles">
        <label id="label-username">Hi {{username}}!</label>
        <label>You can manage here you account</label>
    </div>
  <div class="butoniska">
    <div class="all-buttons">
        <div class="row">
            <div class="column">
                <button mat-button (click)="updateSettings('name')">Change Username</button>
            </div>
            <div class="column">
                <button mat-button (click)=" updatePasswordErrorMessage()">Change Email</button>

            </div>
        </div>
        <div class="row">
            <div class="column">
                <button mat-button (click)="updatePassword()">Change Password</button>

            </div>
            <div class="column">
                <button mat-button>Close your account</button>

            </div>
        </div>

    </div>
  </div>

</div>
