.settings-view{
    height: 100%;
    width: 100%;
    background-color: #a60a0a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.all-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-bottom: 40px;
}
