<div class="settings-view">
    <div class="titles">
        <label>Hi {{username}}</label>
        <label>You can manage here you account</label>
    </div>
    <div class="all-buttons">
        <div class="row">
            <div class="column">
                <button mat-button> Change Username</button>
            </div>
            <div class="column">
                <button mat-button> Change Email</button>

            </div>
        </div>
        <div class="row">
            <div class="column">
                <button mat-button> Change Paswword</button>

            </div>
            <div class="column">
                <button mat-button> Close you account</button>

            </div>
        </div>

    </div>

</div>
