.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.configuration-viewbox {
  width: 90%; /* Adjust the width to your preference */
  height: 90%; /* Adjust the height to your preference */
  background-color: #527b8a;
  border-radius: 100px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configuration-form {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
}

.welcome-text {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Gill Sans MT";
  font-weight: bold;
}

.upper {
  font-size: 40px;
  margin-top: 80px;
}

.lower {
  font-size: 35px;
  margin-top: -20px;
}

.carousel {
  position: absolute;
  margin-top: 100px;
  display: flex;
  overflow: hidden;
}

.box {
  margin-top: -50px;
  width: 550px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: transform 0.5s;
}

#box1 {
  margin-top: 200px;
}

.box:nth-child(2) {
  background-color: #f0f0f0;
}

#prev-button {
  justify-self: left;
  height: 50px;
  margin-top: -50px;
  margin-left: 100px;
  visibility: hidden; /* Makes the element invisible */
  pointer-events: none;
}

#next-button {
  height: 50px;
  justify-self: right;
  margin-right: 100px;
  visibility: hidden; /* Makes the element invisible */
  pointer-events: none;
}


.step-buttons {
  margin-top: 400px;
  display: grid;
  align-items: center; /* Center the items vertically */
}


#lets-configure, #lets-finish {
  height: 70px;
  width: 300px;
  text-align: center;
  font-size: 34px;
  border-radius: 15px;
  background-color: #28B463;
  border-color: transparent;
  font-family: "Gill Sans MT";
  font-weight: bold;
  transition: transform 0.5s ease, background-color 0.7s ease; /* Add transitions for transform and background-color */
}

#lets-finish {
  height: 130px;
}

#lets-configure:hover, #lets-finish:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #1aa655;
}



