.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



.configuration-viewbox {
  width: 90%; /* Adjust the width to your preference */
  height: 90%; /* Adjust the height to your preference */
  background-color: #527b8a;
  border-radius: 100px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.center-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.configuration-form {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: white;
}

.welcome-text {
  position: absolute;
  text-align: center;
  color: white;
  font-family: "Gill Sans MT";
  font-weight: bold;
}

.upper {
  font-size: 40px;
  margin-top: 80px;
}

.lower {
  font-size: 35px;
  margin-top: -20px;
}

.carousel {
  position: absolute;
  margin-top: 50px;
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.form {
  margin-top: 23px;
  height: 600px;
  width: 1000px;
  background-color: #333333;
  border-radius: 30px;
  animation: appear-and-grow 0.7s ease;
  transform-origin: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

@keyframes appear-and-grow {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}


.box:nth-child(2) {
  background-color: #f0f0f0;
}

#box1 {
  margin-top: 200px;
}

#box4{
  width: 1100px;
}



.question-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#box3, #box5{
  display: inline;
  margin-top: 148px;
  height: 350px;
  width: 600px;
}

.dec-button{
  border: none;
  margin-top: 50px;
  height: 60px;
  width: 100px;
  border-radius: 10px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 20px;
}

.yes-button{
  background-color: #2bb707;
  transition: transform 0.3s ease, background-color 0.5s ease; /* Add transitions for transform and background-color */
  margin-right: 20px;
}
.no-button{
  background-color: #cc0f0f;
  transition: transform 0.3s ease, background-color 0.5s ease; /* Add transitions for transform and background-color */
  margin-left: 20px;
}

.yes-button:hover{
  background-color: #1a7205;
  transform: scale(1.1);

}
.no-button:hover{
  background-color: #a60a0a;
  transform: scale(1.1);
}

/* expense-tracker.component.css */

#expensesList {
  margin-top: 20px;
}

.list-container {
  display: flex;
}

.list-content {
  flex: 3; /* Takes 3/4 of the width */
}

.expense-list {
  width: 150px;
  height: 70px; /* Set the height for the scrollable area */
  max-height: 100;
  overflow-y: scroll;
  border: 1px solid rebeccapurple;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  background-color: #a60a0a;
}

.button-container {
  flex: 1; /* Takes 1/4 of the width */
  margin-left: 10px; /* Adjust margin as needed */
}

.button-container button {
  /* Style your button as needed */
}


.accept-button{
  margin-top: 50px;
  margin-bottom: -100px;
  background-color: #2bb707;
  transition: transform 0.3s ease, background-color 0.5s ease; /* Add transitions for transform and background-color */
  height: 50px;
  width: 170px;
  text-align: center;
  border-radius: 10px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.accept-button:hover{
  background-color: #1a7205;
  transform: scale(1.1);
}


.question-text{
  font-family: "Gill Sans MT";
  line-height: 35px;
  font-weight: bold;
  font-size: 27px;
  margin-top: 60px;
}

.guide-text{
  margin-top: -20px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 37px;
}

.limit-text {
  margin-top: -100px;
  margin-bottom: 10px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 50px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.data{
  text-align: center;
  margin-top: -15px;
}

.row {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column {
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  flex: 1;
  margin-right: 10px;
}

.input {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  font-family: "Gill Sans MT";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-color: transparent;
  background-color: #3f3e3e;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.input1{
  width: 150px;
  height: 50px;
  font-size: 30px;
}

#prev-button {
  justify-self: left;
  height: 50px;
  margin-top: -50px;
  margin-left: 100px;
  visibility: hidden; /* Makes the element invisible */
  pointer-events: none;
}

#next-button {
  height: 50px;
  justify-self: right;
  margin-right: 100px;
  visibility: hidden; /* Makes the element invisible */
  pointer-events: none;
}


.step-buttons {
  margin-top: 400px;
  display: grid;
  align-items: center;
}

.step-button {
  font-family: "Gill Sans MT";
  font-weight: bold;
  border-color: transparent;
  border-radius: 10px;
  background-color: #3F48CC;
  transition: transform 0.3s ease, background-color 0.5s ease; /* Add transitions for transform and background-color */
}
.step-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #09107a;
}

#lets-configure, #lets-finish {
  height: 70px;
  width: 300px;
  text-align: center;
  font-size: 34px;
  border-radius: 15px;
  background-color: #28B463;
  border-color: transparent;
  font-family: "Gill Sans MT";
  font-weight: bold;
  transition: transform 0.5s ease, background-color 0.7s ease; /* Add transitions for transform and background-color */
}

#lets-finish {
  height: 130px;
}

#lets-configure:hover, #lets-finish:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #1aa655;
}


