button {
  align-items: center;
  margin-right: 10px;
  background-color: #95d5b2;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: -23px;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.even-the-task{
  margin-top: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.input-container input{
  width: 200px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.settings-div{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-div{
  background-color: #28B463;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.element-container{
  width: 95%;
}
.buttonito{
  display: flex;
  justify-content: center;
}
.value-div{
  color: black;
  margin-left: 12px;
  margin-bottom: 13px;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 95%;
}

label{
  height: 60%;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  align-items: center;
}

span{
  margin-left: 12px;
  width: 100%;
  font-size: 18px;
}

.pause{
  display: flex;
  justify-content: center;
}
.amount{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.cancel-button{
  background-color: #b7e4c7;
}

input {
  background: transparent;
  width: 30%;
  font-size:16px;
  color: inherit; /* Keeps the text color the same as the parent element */
  border: 2px solid;
  border-color: #74c69d;
  height: 29px;
  border-radius: 5px;
}
input:focus {
  border: 2px solid #74c69d;
  outline: none;
}
.mark-button{
  margin-right: 20px;
  border-radius: 5px;
  height: 35px;
  width: 55px;
  min-width: unset!important;
}
.edit-button{
  margin-right: -0px;
  border-radius: 5px;
  height: 35px;
}
.mark-button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.check-icon{
  margin-right: -0px;
}
.deadline, .days-left{
  margin-left: 0px;
  margin-right: 0px;

}
.deadline{
  font-size: 15px;
  width: 130px;

}
.deadline-div{
  display: flex;
  justify-content: start;
  width: 38%;
}

.hiddenito-1{
  display: none;
}

.hiddenito-2{
  display: none;
}

.hiddenito-3{
  display: none;
}

.hiddenito-4{
  display: none;
}



