<h2 mat-dialog-title>Add new expense</h2>
<mat-dialog-content>
  <div class="input-container">
    <div class="even-the-task">
      <label for="name">Name:</label>
      <mat-form-field appearance="outline" >
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" name="name" placeholder="Enter name" [(ngModel)]="expenseName">
        <span matTextSuffix>&nbsp;&nbsp;&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="even-the-task">
      <label for="category">Category:</label>
      <mat-form-field appearance="outline"  >
        <mat-label>Category</mat-label>
        <mat-select  panelClass="panel-color" [formControl]="selectFormControl" [(ngModel)]="selectedCategory" id="category" required>
          <ng-container *ngFor="let option of optionsList">
            <mat-option [value]="option">{{ option.text }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="selectFormControl.hasError('required')">This field is required</mat-error>
        <span matTextSuffix>&nbsp;&nbsp;&nbsp;</span>
      </mat-form-field>
    </div>
    <div class="even-the-task">
      <label for="value">Value:</label>
      <mat-form-field appearance="outline" >
        <mat-label>Value</mat-label>
        <input matInput type="number" id="value" name="value" placeholder="Enter value" [(ngModel)]="expenseValue">
        <span matTextSuffix>zł</span>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<div class="buttons">
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button  (click)="sendTransaction()">Ok</button>
  </mat-dialog-actions>
</div>

