/* login.component.css */

.body {
  background-color: #d8f3dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b7e4c7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  /*width: 350px;*/
  /*height: 380px;*/
  width: 400px;
  height: 500px;
}

h1 {
  margin-top: -20px;
  font-weight: bold;
  font-size: 37px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.button {
  height: 45px;
  width: 110px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #4ad66d;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  /*background-color: #007bff;*/
  /*font-weight: bold;*/
  /*color: #fff;*/
  /*border: none;*/
  /*padding: 10px 20px;*/
  /*border-radius: 4px;*/
  /*cursor: pointer;*/
  /*font-size: 16px;*/
  /*flex-grow: 1;*/
  /*margin: 0 5px;*/
}



.button.register-button {
  background-color: #52b788; /* Green color for Register button */
}

.field-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.fields{
  margin-top: -20px;
}


#email-field, #pass-field{
  width: 100%;

}
#email, #password{
  background-color: #b7e4c7;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:not(:focus){
  transition: background-color 5000s;
  -webkit-text-fill-color: #1b4332 !important;
}
