<div class="body">
    <div class="login-container">
      <h1>Login</h1>
      <div class="fields">
        <div class="field-container">
          <mat-form-field appearance="outline" id="email-field">
            <mat-label>Enter your email</mat-label>
            <input matInput id="email"
                   placeholder="example@domain.com"
                   [formControl]="email"
                   (blur)="updateErrorMessage()"
                   [(ngModel)]="emailValue"
                   required>
            <mat-error *ngIf="email.invalid">{{errorMessage}}</mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="field-container">
          <mat-form-field appearance="outline" id="pass-field">
            <mat-label>Enter your password</mat-label>
            <input matInput id="password"
                   type="password"
                   [formControl]="password"
                   (blur)="updatePasswordErrorMessage()"
                   [(ngModel)]="passwordValue"
                   required>
            <button mat-icon-button matSuffix (click)="clickEvent()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{errorPassMessage}}</mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="button-container">
          <button mat-button type="button" class="button register-button" (click)="register()">Register</button>
          <button mat-button type="submit" class="button" (click)="login()" >Login</button>
        </div>
    </div>
  </div>
