<div class="main-section">
  <div class="tab-section">
    <mat-tab-group>
      <mat-tab label="Transaction history">
        <div class="filter-div">
          <label>Filter:  </label>
          <input class="input-filder" matInput (keyup)="applyFilter($event,1)" placeholder="Enter a phrase" #input>

        </div>

          <table mat-table [dataSource]="transDataSource" class="example-table">
            <ng-container matColumnDef="date">
              <th class="other-columns" mat-header-cell *matHeaderCellDef>Date</th>
              <td class="other-columns" mat-cell *matCellDef="let row">{{row.date | date}}</td>
            </ng-container>

            <ng-container matColumnDef="transaction-type">
              <th class="other-columns" mat-header-cell *matHeaderCellDef>Transaction type</th>
              <td class="other-columns" mat-cell *matCellDef="let row">{{row.transactionType}}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th class="other-columns" mat-header-cell *matHeaderCellDef>Balance</th>
              <td class="other-columns" mat-cell *matCellDef="let row">{{row.amount}}$</td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th class="other-columns" mat-header-cell *matHeaderCellDef>Category</th>
              <td class="other-columns" mat-cell *matCellDef="let row">{{row.category}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th class="other-columns" mat-header-cell *matHeaderCellDef>Description</th>
              <td class="other-columns" mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>

            <ng-container matColumnDef="options">
              <th class="option-column" mat-header-cell *matHeaderCellDef>Options</th>
              <td class="option-column" mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="edit(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-tab>
      <mat-tab label="Months history">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event,2)" placeholder="Ex. ium" #input>
        </mat-form-field>

        <table mat-table [dataSource]="monthDataSource" class="example-table">
          <ng-container matColumnDef="date">
            <th class="second-columns" mat-header-cell *matHeaderCellDef>Date</th>
            <td class="second-columns" mat-cell *matCellDef="let row">{{row.date}}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th class="second-columns" mat-header-cell *matHeaderCellDef>Expenses</th>
            <td class="second-columns" mat-cell *matCellDef="let row">{{row.amount}}</td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th class="second-columns" mat-header-cell *matHeaderCellDef>Balance</th>
            <td class="second-columns" mat-cell *matCellDef="let row">{{row.balance}}$</td>
          </ng-container>

          <ng-container matColumnDef="savings">
            <th class="second-columns" mat-header-cell *matHeaderCellDef>Savings</th>
            <td class="second-columns" mat-cell *matCellDef="let row">{{row.savings}}</td>
          </ng-container>

          <ng-container matColumnDef="residualFunds">
            <th class="second-columns" mat-header-cell *matHeaderCellDef>Residual Funds</th>
            <td class="second-columns" mat-cell *matCellDef="let row">{{row.residualFunds}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="monthHistoryColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: monthHistoryColumns;"></tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
