.main-section {
  display: flex;
  height: 100%;
}

.tab-section{
  height: 100%;
  width: 100%;
}

.example-table{
  background-color: #e1deec!important;

}

.mat-column-date, .mat-column-name, .mat-column-transaction-type, .mat-column-category, .mat-column-amount, .mat-column-options, .mat-column-residualFunds, .mat-column-savings, .mat-column-balance{
  text-align: center;
  align-items: center;
}


.option-column {
  width: 12%;
}

.other-columns {
  width: 18%;
}

.second-columns {
  width: 20%;
}

.input-filder{
  background-color: #e1deec;
  border: none;
  /* Optionally, you can also remove other border-related styles */
  outline: none;
  height: 50px;
  font-size: 20px;
}
.filter-div{
  margin: 20px;
  font-size: 22px;
  font-weight: bold;
}
