<section class="layout">
  <div class="center">
    <div class="header">
      <div class="header-buttons">
        <button class="button">Profile</button>
        <button class="button">History</button>
        <button class="button">Settings</button>
        <button class="button logout-button" (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>
  <div class="main">
    <!-- Your existing content here -->
  </div>

  <div class="center">
    <div class="large-box">
      <router-outlet></router-outlet>
    </div>
  </div>

</section>
