<section class="layout">
  <div class="center">
    <div class="header">
        <button mat-raised-button color="primary" class="button" (click)="navigateToProfile()">Profile</button>
        <button mat-raised-button color="primary" class="button" (click)="walletHistory()" >History</button>
        <button mat-raised-button color="primary" class="button payments" (click)="upcomingPayments()" >Payments</button>
        <button mat-raised-button color="primary" class="button">Settings</button>
      <div class="logout-button">
        <button mat-raised-button color="primary" class="button" (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="large-box">
      <router-outlet></router-outlet>
    </div>
  </div>

</section>
