#modal-content-wrapper {
  z-index: 10;
  width: 100%;
  height: 90%;
  display: flex;
  margin-top: 10px;

}
#modal-title {
  font-size: 22px;
}
#modal-footer {
  justify-self: right;
  align-self: center;
}
#modal-close-button {
  background-color: #ce0909;
}
